@model Presentacion.ViewModels.Turnos.NuevoTurnoViewModel

@{
    ViewBag.Title = "Nuevo Turno";
}

@section scripts {

    @*Scripts*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <script>
        $(function () {
            $('input[name="Fecha"]').daterangepicker({

                singleDatePicker: true,
                startDate: moment().endOf("day").format('DD/MM/YYYY'),
                endDate: moment().format('DD/MM/YYYY'),
                locale: {
                    format: 'DD/MM/YYYY',
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié;', 'Juv', 'Vie', 'Sáb'],
                    daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
                },
                firstDay: 1,
                showDropdowns: true,
                minYear: 1901,
                maxDate: moment().endOf("day"),
            }, function (start, end, label) { });
        });
    </script>


    <script>
        $('#Grp1').change(function () {
            if ($(this).is(":checked")) {
                $('.Grp2').prop('disabled', true);
            }
            else {
                $('.Grp2').prop('disabled', false);
            }
        });
    </script>
}


<h3 class="text-center">Ingrese los datos: </h3>


@using (Html.BeginForm("Nuevo", "Turnos", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="form-group">

                <label>Dni del Paciente</label>
                @Html.TextBoxFor(x => x.DniPaciente, new { @class = "form-control required", placeholder = "El DNI del paciente", type = "number" })
                @Html.ValidationMessage("DniPaciente", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Dni del Tecnico</label>
                @Html.TextBoxFor(x => x.DniTecnico, new { @class = "form-control required", placeholder = "El DNI del tecnico", type = "number" })
                @Html.ValidationMessage("Apellido", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Fecha del Analisis</label>
                @Html.TextBoxFor(x => x.Fecha, new { @class = "form-control required" })
                @Html.ValidationMessage("Fecha", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div>
                    <h3>First group</h3>
                    <label>
                        <input type="checkbox" value="1" name="group1" id='Grp1' />If checked, checks all the checkboxes in 2nd group
                    </label>
                    
                </div>
                <div>
                    <h3>Second Group</h3>
                    <label>
                        <input type="checkbox" class="radio Grp2" value="1" name="group2" />1
                    </label>
                    <label>
                        <input type="checkbox" class="radio Grp2" value="1" name="group2" />1
                    </label>
                </div>
            </div>

            <br />
            <br />
            <br />
            <br />
            <button type="submit" class="btn btn-success pull-left">Confirmar</button>
            <button type="button" class="btn btn-secondary pull-right" onclick="location.href='@Url.Action("Index", "Tecnicos")'">Cancelar</button>

            @Html.ValidationMessage("", new { @class = "text-danger" })
        </div>
    </div>
}







