@model Presentacion.ViewModels.Turnos.NuevoTurnoViewModel

@{
    /**/

    ViewBag.Title = "Nuevo Turno";
}

@section scripts {

    @*Scripts*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <script>
        $(function () {
            $('input[name="Fecha"]').daterangepicker({

                singleDatePicker: true,
                startDate: moment().endOf("day").format('DD/MM/YYYY'),
                endDate: moment().format('DD/MM/YYYY'),
                locale: {
                    format: 'DD/MM/YYYY',
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié;', 'Juv', 'Vie', 'Sáb'],
                    daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
                },
                firstDay: 1,
                showDropdowns: true,
                minYear: 1901,
                maxDate: moment().endOf("year"),
            }, function (start, end, label) { });
        });
    </script>


    <script>
        //$('#Grp1').change(function () {
        //    if ($(this).is(":checked")) {
        //        $('.Grp2').prop('disabled', true);
        //    }
        //    else {
        //        $('.Grp2').prop('disabled', false);
        //    }
        //});

        function habilitarSecciones(selected) {
            var chk = $(selected);
            var checked = chk.is(":checked");
            var id = chk.val();

            $("[id^='Grp2']").attr("disabled", true);

            if (checked) {
                $(".Grp2_" + id).removeAttr("disabled", false);
                $(".Grp2_" + seccion.id).prop('checked', false);
            }
        }
    </script>
}


<h3 class="text-center">Ingrese los datos: </h3>


@using (Html.BeginForm("Nuevo", "Turnos", FormMethod.Post))
{
    <div class="row">
        <div class="mx-auto text-center">
            <div class="form-group">

                <label>Dni del Paciente</label>
                @Html.TextBoxFor(x => x.DniPaciente, new { @class = "form-control required", placeholder = "El DNI del paciente", type = "number" })
                @Html.ValidationMessage("DniPaciente", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Fecha del Analisis</label>
                @Html.TextBoxFor(x => x.Fecha, new { @class = "form-control required" })
                @Html.ValidationMessage("Fecha", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <h3>Tipo</h3>
                @foreach (Dominio.Tipo tipo in Model.Secciones.Select(x => x.Tipo).Distinct())
                {
                    <label>
                        <input type="radio" value="@tipo.Id" name="Grp_Tipo" id='Grp_@tipo.Id' onclick="habilitarSecciones(this);" /> @tipo.Descrip
                    </label>

                    <hr />
                    foreach (var seccion in Model.Secciones.Where(x => x.Tipo == tipo))
                    {
                        <label>
                            <input type="checkbox" class="Grp2_@tipo.Id" value="@seccion.Id" name="SeccionesElegidas" id="Grp2_@seccion.Id" disabled /> @seccion.Descrip
                        </label>
                    }

                    <hr />
                }
            </div>

            <br />
            <br />
            <button type="submit" class="btn btn-success pull-left">Confirmar</button>
            <button type="button" class="btn btn-secondary pull-right" onclick="location.href='@Url.Action("Index", "Turnos")'">Cancelar</button>
            <br />
            @Html.ValidationMessage("", new { @class = "text-danger" })
        </div>
    </div>
}







