@model Presentacion.ViewModels.Tecnicos.TecnicosViewModel
@{
    /**/

    ViewBag.Title = "Tecnicos";
}

<div class="container" id="TecnicosContainer">

    @*Nuevo*@

    <div class="container">
        <div class="row">
            <div class="mx-auto text-center">
                <h2 class="text-center"><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Nuevo", "Tecnicos")'">Nuevo Tecnico</button></h2>
            </div>
        </div>
    </div>

    <br />

    @* Buscador *@

    <div class="container">
        <div class="row">
            <div class="mx-auto text-center">
                <div class="well">
                    @using (Html.BeginForm(Url.Action("Index", "Tecnicos", FormMethod.Get)))
                    {
                        <fieldset>
                            <div class="form-group">
                                <label>Buscar por Apellido:</label>
                                <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido">
                            </div>
                            <button type="submit" class="btn btn- btn-primary">Buscar</button>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>

    <br />

    @* Listado *@

    @if (Model.Tecnicos.Any())
    {
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Apellido y Nombre</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Legajo</th>
                            <th scope="col">Edad (Fecha Nacimiento)</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tecnico in Model.Tecnicos.OrderBy(tecnico => tecnico.ApellidoNombre))
                        {
                            <tr>
                                <td>@tecnico.Id</td>
                                <td>@tecnico.ApellidoNombre</td>
                                <td>@tecnico.Dni</td>
                                <td>@tecnico.Legajo</td>
                                <td>@tecnico.Edad</td>

                                <td>
                                    <a class="btn btn-link" href="@Url.Action("Editar","Tecnicos", new { id = tecnico.Id})">Editar</a>
                                    |
                                    <a class="btn btn-link" href="@Url.Action("Eliminar","Tecnicos", new { id = tecnico.Id})">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-primary">No se encontraron resultados de tecnicos.</div>
    }

</div>
