@model Presentacion.ViewModels.EstudiosClinicos.EstudiosClinicosViewModel
@{
    ViewBag.Title = "HistorialEstudiosClinicos";
}

<h2>HistorialEstudiosClinicos</h2>

@*Igual a Index EC por ID que se encuentren en estado Confirmado*@

<div class="container" id="EstudiosClinicosContainer">
    <h4 class="text-center mt-5">
        Estudios Clinicos
    </h4>


    @if (Model.EstudiosClinicos.Any())
    {
    <div class="card">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Apellido y Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Secciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var estudioclinico in Model.EstudiosClinicos.OrderBy(estudioclinico => estudioclinico.ApellidoNombre))
                    {
                        <tr>
                            <td>@estudioclinico.Id</td>
                            <td>@estudioclinico.ApellidoNombre</td>
                            <td>@estudioclinico.Fecha</td>
                            <td>@estudioclinico.Tipo</td>
                            <td>@estudioclinico.ContSecciones</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-default" href="@Url.Action("Index", "Pacientes")">
            Volver a Pacientes
        </a>
    </div>
    }
    else
    {
        <div class="alert alert-primary">No se encontraron resultados de estudios clinicos.</div>
    }

</div>