@model Presentacion.ViewModels.Pacientes.PacientesViewModel
@{
    /**/

    ViewBag.Title = "Pacientes";
}


<div class="container" id="PacientesContainer">

    <br />

    @*Nuevo*@

    <div class="container">
        <div class="row">
            <div class="mx-auto text-center">
                <h2 class="text-center"><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Nuevo", "Pacientes")'">Nuevo Paciente</button></h2>
            </div>
        </div>
    </div>

    @* Buscador *@

    <div class="container">
        <div class="row">
            <div class="mx-auto text-center">
                <div class="well">
                    @using (Html.BeginForm(Url.Action("Index", "Pacientes", FormMethod.Get)))
                    {
                        <fieldset>
                            <div class="form-group">
                                <label>Buscar por Apellido:</label>
                                <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido">
                            </div>
                            <button type="submit" class="btn btn- btn-primary">Buscar</button>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>

    <br />

    @* Listado *@

    @if (Model.Pacientes.Any())
    {
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Apellido y Nombre</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Edad (Fecha Nacimiento)</th>
                            <th scope="col">Proximos Turnos</th>
                            <th scope="col">Historial</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var paciente in Model.Pacientes.OrderBy(paciente => paciente.ApellidoNombre))
                        {
                            <tr>
                                <td>@paciente.Id</td>
                                <td>@paciente.ApellidoNombre</td>
                                <td>@paciente.Dni</td>
                                <td>@paciente.Edad</td>
                                <td>
                                    @paciente.ContTurnos -<a href="@Url.Action("TurnosPaciente", "Turnos", new { id = paciente.Id })" class="btn btn-link">
                                        <i class="far fa-clock" data-toggle="Ver Turnos" data-placement="top" title="Turnos pendientes"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("HistorialEstudiosClinicos", "EstudiosClinicos", new { id = paciente.Id })" class="btn btn-link">
                                        <i class="fas fa-file-medical" data-toggle="Ver Historial" data-placement="top" title="Historial de Analisis"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-link" href="@Url.Action("Editar","Pacientes", new { id = paciente.Id})">Editar</a>
                                    |
                                    <a class="btn btn-link" href="@Url.Action("Eliminar","Pacientes", new { id = paciente.Id})">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-primary">No se encontraron resultados de pacientes.</div>
    }

</div>