@model Presentacion.ViewModels.Pacientes.PacientesViewModel
@{
    ViewBag.Title = "Pacientes";
}


<div class="container" id="PacientesContainer">
    <h4 class="text-center mt-5">
        Pacientes
    </h4>



    @*Nuevo*@

    <div class="container">
        <div class="row">

            <h2 class="text-center"><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Nuevo", "Pacientes")'">Nuevo Paciente</button></h2>

        </div>
    </div>


    @* Buscador *@

    <div class="container">
        <div class="row my-5">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="well">
                    @using (Html.BeginForm(Url.Action("Index", "BuscarEntreFechas", FormMethod.Get)))
                    {
                        <fieldset>
                            <div class="form-group">
                                <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido">
                            </div>
                            <button type="submit" class="btn btn- btn-primary">Buscar</button>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>


    @* Listado *@

    @if (Model.Pacientes.Any())
    {
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Apellido y Nombre</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Codigo de Paciente</th>
                            <th scope="col">Edad (Fecha Nacimiento)</th>
                            <th scope="col">Turnos</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var paciente in Model.Pacientes.OrderBy(paciente => paciente.ApellidoNombre))
                        {
                            <tr>
                                <td>@paciente.Id</td>
                                <td>@paciente.ApellidoNombre</td>
                                <td>@paciente.Dni</td>
                                <td>@paciente.CodPaciente</td>
                                <td>@paciente.Edad</td>
                                <td>
                                    @paciente.ContTurnos - <a href="@Url.Action("TurnosPaciente", "Pacientes", new { dni = paciente.Dni })" class="btn btn-link">
                                    <i class="fas fa-book-medical" data-toggle="Ver" data-placement="top" title="Ver"></i></a>
                                </td>
                                <td>
                                    <a class="btn btn-link" href="@Url.Action("Editar","Pacientes", new { id = paciente.Id})">Editar</a> 
                                    |
                                    <a class="btn btn-link" href="@Url.Action("Eliminar","Pacientes", new { id = paciente.Id})">Eliminar</a>
                                </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-primary">No se encontraron resultados de pacientes.</div>
    }

</div>