@model Presentacion.ViewModels.EstudiosClinicos.EstudiosClinicosViewModel
@{
    /**/

    ViewBag.Title = "HistorialEstudiosClinicos";
}


<div class="container" id="EstudiosClinicosContainer">

    <br />

    @if (Model.EstudiosClinicos.Any())
    {
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Apellido y Nombre</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Secciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var estudioclinico in Model.EstudiosClinicos.OrderBy(estudioclinico => estudioclinico.Fecha))
                        {
                            <tr>
                                <td>@estudioclinico.Id</td>
                                <td>@estudioclinico.ApellidoNombre</td>
                                <td>@estudioclinico.Fecha</td>
                                <td>@estudioclinico.Tipo</td>
                                <td>@estudioclinico.ContSecciones</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Pacientes")">
                Volver a Pacientes
            </a>
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-primary mx-auto text-center">No se encontraron estudios clinicos en el historial del paciente.</div>

        <h2 class="text-center">
            <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Pacientes")">
                Volver a Pacientes
            </a>
        </h2>
    }

</div>